.product_link_section {
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.product_link_section a {
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #1E1D85;
    color: #fff;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.product_link_section a:hover {
    opacity: 0.9;
}