.register_background_img {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(-36deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(../../assets/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 8rem 0rem 6rem 0rem;
}

