:root {
  --bg-clr: #fff;
  --main-heading: #1E1D85;
  --footer-bg-clr: #252525;
  --footer-font-clr: #ababab;
  --para-clr: #333;
  --btn-bg-color: #fff;
  --btn-text-color: #1E1D85;
  --card-bg-color: #2874F0;
  --toggle-color: #000;
}